@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f4f6f6 ; /* Dark Blue */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Optional: Set a default font */
}